apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: petcare
  namespace: argocd
spec:
  goTemplate: true

  generators:
    - list:
        elements:
          - name: petcare
            namespace: petcare
            targetRevision: main
        template:
          metadata:
            name: '{{ .name }}'
          spec:
            project: default
            source:
              repoURL: https://github.com/rezakaramad/petcare.git
              targetRevision: '{{ .targetRevision }}'
              path: charts/petcare
            destination:
              server: https://kubernetes.default.svc
              namespace: '{{ .namespace }}'
            syncPolicy:
              automated:
                prune: true
                selfHeal: true
              syncOptions:
                - CreateNamespace=true

    - pullRequest:
        github:
          owner: rezakaramad
          repo: petcare
          appSecretName: github-app
        requeueAfterSeconds: 120
        template:
          metadata:
            name: 'petcare-pr-{{ .number }}'
          spec:
            project: default
            source:
              repoURL: https://github.com/rezakaramad/petcare.git
              targetRevision: '{{ .head_sha }}'
              path: charts/petcare
            destination:
              server: https://kubernetes.default.svc
              namespace: 'petcare-pr-{{ .number }}'
            syncPolicy:
              automated:
                prune: true
                selfHeal: true
              syncOptions:
                - CreateNamespace=true
