apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: petcare
  namespace: argocd
spec:
  goTemplate: true

  generators:
    - list:
        elements:
          - name: petcare
            namespace: petcare
            targetRevision: main
        template:
          metadata:
            name: '{{ .name }}'
          spec:
            source:
              targetRevision: '{{ .targetRevision }}'
            destination:
              namespace: '{{ .namespace }}'

    - pullRequest:
        github:
          owner: rezakaramad
          repo: petcare
          appSecretName: github-app
        requeueAfterSeconds: 120
        template:
          metadata:
            name: 'petcare-pr-{{ .number }}'
          spec:
            source:
              targetRevision: '{{ .head_sha }}'
            destination:
              namespace: 'petcare-pr-{{ .number }}'

  template:
    metadata:
      labels:
        app: petcare
    spec:
      project: default
      source:
        repoURL: https://github.com/rezakaramad/petcare.git
        path: charts/petcare
      destination:
        server: https://kubernetes.default.svc
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
